body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

h2 {
    width: 90%;
    margin: 20px auto;
}
#base {
    width: 80vw;
    margin: 0 auto;
}

img {
    width: 100%;
}
#play {
    position: relative;
    padding: 8%;
    border: 1px solid black;
}
.choice {
    position: absolute;
    width: 40%;
    height: 40%;
    border: 2px dotted grey;
    border-radius: 50%;
    transition-property: border;
    transition-duration: 300ms;
}
.selected {
border: 5px solid red;
}
#rock {
    top: 0;
    left: 25%;
}
#paper {
    bottom: 8%;
    left: 0;
}
#scissors {
    bottom: 8%;
    right: 0;
}

#covering {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(230, 176, 15, 0.604);
}
#newgame {
    padding: 15vw;
    text-align: center;
font-size: 3rem;
font-weight: 600;
color: rgb(23, 13, 111);
letter-spacing: 2vw;
transform: rotate(-30deg);
}

@media (orientation: landscape) {
    #base {
        width: 35vw;
    }
    #newgame {
        padding: 20vh;
    }
}
